/* _content/SIMSApp/Views/Shared/_Layout.cshtml.rz.scp.css */


.wrapper[b-1wm7xk7i2u] {
  display: flex;
  align-items: stretch;
}
*[b-1wm7xk7i2u]{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.container[b-1wm7xk7i2u]{

}
#content[b-1wm7xk7i2u] {
  padding: 20px;   
  min-height: 100vh;
  background-color: #14141f;
  color: white;
  width: 100%;
}

.menu[b-1wm7xk7i2u]{
  height: 100%;
  position: relative;
  list-style: none;
  padding: 0;
  background: #1d1d27;
  color: white;
  text-decoration: none;
}

.menu li[b-1wm7xk7i2u] {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: white;
}

.menu li:hover[b-1wm7xk7i2u],
.active[b-1wm7xk7i2u]{
  background: #e0e0e058;
  text-decoration: none;
color: white;
}

a[b-1wm7xk7i2u]{
  text-decoration: none;
}

.sidebar-header[b-1wm7xk7i2u]{
  background-color: #14141f;
  height: 60px;
  text-align: center;
  margin: 0;
  
}

.logout[b-1wm7xk7i2u]{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}











