
<!-- Modal -->
<div class="modal fade" id="violationInfoModal" tabindex="-1" role="dialog" aria-labelledby="studentViolationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="studentViolationModalLabel">Student Violation Details</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="info-item">
                    <strong>Student Name:</strong> <span id="infoStudentName"></span>
                </div>
                <div class="info-item">
                    <strong>Student ID Number:</strong> <span id="infoStudentIdNum"></span>
                </div>
                <div class="info-item">
                    <strong>Course:</strong> <span id="infoCourse"></span>
                </div>
                <div class="info-item">
                    <strong>Year Level:</strong> <span id="infoYearLevel"></span>
                </div>
                <div class="info-item">
                    <strong>Violation:</strong> <span id="infoViolationType"></span>
                </div>
                <div class="info-item">
                    <strong>Date of Violation:</strong> <span id="infoViolationDate"></span>
                </div>
                <div class="info-item">
                    <strong>Time of Violation:</strong> <span id="infoViolationTime"></span>
                </div>
                <div class="info-item">
                    <strong>Sanction:</strong> <span id="infoOffenseLevel"></span>
                </div>
                <div class="info-item">
                    <strong>Disciplinary Action:</strong><span id="infoDisciplinaryAction"></span>
                </div>
                <div class="info-item">
                    <strong>Offense Type:</strong> <span id="infoOffenseType"></span>
                </div>
                <div class="info-item">
                    <strong>Location of Violation:</strong> <span id="infoLocation"></span>
                </div>
                <div class="info-item">
                    <strong>Description of Violation:</strong> <span id="infoDescription"></span>
                </div>
                <div class="info-item">
                    <strong>Reporting Person's Name:</strong> <span id="infoAttachment"></span>
                </div>
                <div class="info-item">
                    <strong>Role or Position:</strong> <span id="infoReportingName"></span>
                </div>
                <div class="info-item">
                    <strong>Contact Number:</strong> <span id="infoReportingRole"></span>
                </div>
                <div class="info-item">
                    <strong>Status:</strong> <span id="infoReporting"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
