  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="container">
    <h1>Student Violations</h1>
    <div class="form-group">
        <label for="studentSearch">Search Student: </label>
        <input type="text" id="studentSearch" class="form-control">
    </div>

    <table style="margin-top:100px;"class="table table-bordered">
        <thead>
            <tr>
                <th>Violation Type</th>
                <th>Violation Date</th>
                <th>Is Approved</th>
            </tr>
        </thead>
        <tbody id="violationsTableBody">
            <!-- Violations will be displayed here -->
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/addviolation.js"></script>
