<meta charset="UTF-8">
<title>Sidebar</title>
<link rel="stylesheet" href="/css/sidebar.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">    

<div class="wrapper">
        <div class="main--content">
            <div class="header--wrapper">
                <div class="header--title">
                    <span style="color:black;font-weight: bold; font-size: 20px">SASO-<span style="color: rgb(225, 87, 110);">IMS</span></span>
                      <h2>Dashboard</h2>
                </div>
                <div class="user--info">
                    <div class="search--box">
                        <i class="fa-solid fa-search"></i>
                        <input type="text"
                        placeholder="Search"/>
                    </div>
                    <img src="/lib/guidancelogo.png" alt="">
                </div>
            </div>
   
        <div class="card-container">
            <h3 class="main--title">Today's data</h3>
            <div class="card--wrapper">
                <div class="payment--card light-green">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">
                                    Students
                                </span>
                                <span id="studentCount" class="amount-value"></span>
                            </div>
                            <i class="fas fa-users icon dark-green"></i>
                        </div>
                </div>

                 <div class="payment--card light-red">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">
                                Pending
                            </span>
                            <span id ="pendingViolationCount"class="amount-value"></span>
                        </div>
                        <i class="fas fa-exclamation-triangle icon dark-red"></i>
                    </div>
                </div>

                <div class="payment--card light-purple">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">
                                Approved
                            </span>
                            <span id="approvedViolationCount"class="amount-value"></span>
                        </div>
                        <i class="fas fa-exclamation-triangle icon dark-purple"></i>
                    </div>
                </div>

                <div class="payment--card light-blue">
                    <div class="card--header">
                        <div class="amount">
                            <span class="title">
                                Reports
                            </span>
                            <span class="amount-value">13</span>
                        </div>
                        <i class="fas fa-file icon dark-blue"></i>
                    </div>
                </div>

            
            </div>
        </div>
      
                  
     
        </div>
</div>

<script src="~/js/index.js"></script>
<script src="~/js/logout.js"></script>