
<html>

<head>
    
    <title>Student Register Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/registerStudent.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

</head>

<body>
    <h2>Student Information</h2>
    @Html.Partial("Partials/AddStudentModal")
    @Html.Partial("Partials/StudentInfoModal")
    @Html.Partial("Partials/UpdateStudentModal")
    <table id="studentTable"border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Middlename</th>
                <th>Lastname</th>
                <th>Department</th>
                <th>Course</th>
                <th>School Year</th>
                <th>Academic Year</th>
                 <th>Action</th> 
            </tr>
        </thead>
        <tbody id="studentTableBody"></tbody>
    </table>

</body>

<!-- DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="~/js/registerstudent.js"></script>
<script src="~/js/updatestudent.js"></script>
<script src="~/js/logout.js"></script>
</html>
